<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <!-- <script>function signupf(){var url = "{% url 'signup' %}"; window.location.href= url}</script>
    <script>function loginf(){var url = "{% url 'login' %}"; window.location.href= url}</script> -->
</head>
<body>
    <h1>HELLO THIS IS HOME PAGE</h1>
    <p>In the beninging</p>
    <!-- <br>
    <br>
    <button type="button" onclick=loginf()>
        Log In
    </button>
    <button type="button" onclick=signupf()>
        Sign Up
    </button> -->
</body>
</html>