{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <script src="{% static 'js/firebase_init.js' %}"></script>
    <script src="{% static 'js/firebase_google_auth.js' %}"></script>
</head>
<body>
    <h1>HELLO, THIS IS THE HOME PAGE</h1>
    <p>In the begninging, in da beingig, in the...</p>
    <br>
    {% if not user.is_authenticated %}
        <a href="{% url 'base:user_login' %}"><button type="button">LOGIN</button></a>
    {% endif %}
</body>
</html>