{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <script src="{% static 'js/firebase_init.js' %}"></script>
    <script src="{% static 'js/firebase_google_auth.js' %}"></script>
    <script>
        function signOut() {
            firebase.auth().signOut().then(() => {
                console.log('User signed out');
                // You can redirect the user to the home page or another desired location
            }).catch((error) => {
                console.error('Sign-out error:', error);
            });
        }
    </script>
</head>
<body>
    <h1>User Profile</h1>
    <p>User Information:</p>
    <ul>
        <li>Username: {{ user_data.username }}</li>
        <li>First Name: {{ user_data.first_name }}</li>
        <li>Last Name: {{ user_data.last_name }}</li>
        <li>Email: {{ user_data.email }}</li>
        <!-- Add other user-related fields as needed -->
    </ul>
    <button type="button" onclick="signOut()">Logout</button>
</body>
</html>
